# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution / packaging
*.egg-info/
dist/
build/

# Environnements virtuels
venv/
.venv/
env/

# Logs
*.log

# Fichiers système Windows
Thumbs.db
desktop.ini

# Fichiers système macOS
.DS_Store

# Éditeurs
.vscode/
.idea/
*.swp
settings.json
